<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="wrapper coumn is-half">
     <main>
      <div>
        <form id="login-form" class="box">
          <div class="window">
            <div class="field">
              <label class="label has-text-dark" for="username-login">Username:</label>
              <div class="control">
                <input class="input" type="text" id="username" placeholder="Username"/>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-dark" for="password-login">Password:</label>
              <div class="control">
                <input class="input" type="password" id="password" placeholder="Password"/>
              </div>
            </div>
            <div class="btn control mb-2">
              <button id="submitButton" type="submit" class="button is-medium">Submit</button>
            </div>
            <a class="has-text-dark" href="signup">Create Account</a>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>